#ignore gedit temp files
*.*~

#exclude npm dependencies
node_modules

#exclude build directory
dist

#only keep tsd.d.ts
typings/**
!typings/tsd.d.ts

#webstorm files
.idea

#ignore all generated js files
app/**/*.js
!app/main.js
!app/**/static/js/**/*.js

#ignore all generated js sourcemaps
app/**/*.js.map

#ignore all generated css files
app/**/*.css

#ignore all generated css sourcemaps
app/**/*.css.map
